// Place all the styles related to the admin/cordinates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.imaging {
  padding: 30px;
  width: 32%;
  background-color: #fff;
}



